/* inter font */
/* font-family: "Inter", sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* miama font */
/* font-family: 'Miama', sans-serif; */
@import url('https://fonts.cdnfonts.com/css/miama');

:root {
   --primary-color: tomato;
   --primary-color-bg: black;
   --overall-padding: 1rem;
   --nav-link-brder: 1.6px solid rgba(169, 169, 169, 0.486);
   --bg-color-header: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
   --bg-badge: rgba(46, 46, 46, 0.473);
}

/* utility class */
.text-collaps-2 {
   overflow: hidden;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
}

.text-collaps-2:hover {
   -webkit-line-clamp: unset;
}


.text-collaps-3 {
   overflow: hidden;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3;
}

.text-collaps-3:hover {
   -webkit-line-clamp: unset;
}

.text-collaps-5 {
   overflow: hidden;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 5;
}

.text-collaps-5:hover {
   -webkit-line-clamp: unset;
}

/* shared class */
.title {
   color: white;
   font-size: 2rem;
   font-weight: 700;
   text-transform: capitalize;
   text-align: center;
}

.btn {
   padding: 1rem;
   border: 1.6px solid gray;
   border-radius: 40px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   -ms-border-radius: 40px;
   -o-border-radius: 40px;
   font-size: 1rem;
   background-color: transparent;
   color: white;
   cursor: pointer;
   font-weight: 600;
}

.description {
   color: rgb(143, 143, 143);
   line-height: 1.7em;
}


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
}

html, body {
   max-width: 100vw;
   height: 100vh;
   font-family: "Inter", sans-serif;
}

body {
   background-color: black;
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 5rem;
}

/* header section */
.hamburger-container {
   display: none;
}

.section {
   width: 100%;
   max-width: 1400px;
   padding: var(--overall-padding);
}

header {
   /* width: 100%;
   max-width: 1400px; */
   /* border: 1px solid green;
   padding: 10px; */
   background: var(--bg-color-header);
   padding:var(--overall-padding);
}

.nav-bar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 0 3rem 0;
}

.nav-bar .brand {
   font-size: 2rem;
   font-weight: 800;
   font-style: italic;
   color: var(--primary-color);
}

.nav-bar ul {
   display: flex;
   align-items: center;
   gap: 1.5rem;
   list-style: none;
   padding: 0.7rem 0.2rem;
   border: var(--nav-link-brder);
   border-radius: 50px;
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   -ms-border-radius: 50px;
   -o-border-radius: 50px;
}

.nav-bar ul li a {
   text-decoration: none;
   color: white;
   padding: 0.5rem 1rem;
   font-weight: 600;
}

.nav-bar ul li a:hover {
   background-color: tomato;
   border-radius: 35px;
   -webkit-border-radius: 35px;
   -moz-border-radius: 35px;
   -ms-border-radius: 35px;
   -o-border-radius: 35px;
}

@media screen and (max-width: 700px) {
   .brand {
      font-size: 1rem;
   }

   .nav-bar .nav-links {
      display: none;
   }

   .nav-bar .hamburger-container {
      display: block;
   }
}

.hero-section {
   width: 100%;
   max-width: 1400px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 1.5rem;
}

@media screen and (max-width: 800px) {
   .hero-section {
      grid-template-columns: repeat(1, 1fr);
   }
}

.hero-section .hero-content {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 2rem;
}

.hero-content h1 {
   font-size: 4rem;
   line-height: 1em;
}

#shape {
   font-family: "Miama", sans-serif;
   font-size: 5rem;
   font-weight: 500;
}

.hero-content .btn-container {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5rem;
}

@media screen and (max-width: 800px) {
   .hero-content .btn-container {
      gap: 2rem;
   }
}

.hero-img {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   text-align: right;
}

.hero-img img {
   width: 80%;
   aspect-ratio: 4/8;
   max-height: 580px;
}

@media screen and (max-width: 800px) {
   .hero-img {
      align-items: end;
   }
   .hero-img img {
      width: 90%;
      aspect-ratio: 4/17;
   }
}

.badge {
   min-width: 180px;
   padding: 1rem;
   position: absolute;
   z-index: 1;
   background-color: var(--bg-badge);
   border-radius: 0.5rem;
   -webkit-border-radius: 0.5rem;
   -moz-border-radius: 0.5rem;
   -ms-border-radius: 0.5rem;
   -o-border-radius: 0.5rem;
}

.badge-1 {
   top: 30%;
   right: 70px;
}

@media screen and (max-width: 800px) {
   .badge-1 {
      top: 30%;
      right: 30px;
   }
}

.badge-2 {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1rem;
   left: 5%;
   bottom: 2rem;
}

.badge .circle {
   width: 40px;
   height: 40px;
   background-color: var(--primary-color);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}



.btn-join-club {
   background-color: var(--primary-color);
   border: 1.6px solid var(--primary-color);
}

/* main section */
main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 3rem;
}


/* 1st section: change your habits */
.section-1 {
   text-align: center;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2rem;
}

.habits {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 1.5rem;
   justify-content: space-between;
}

@media screen and (max-width: 1000px) {
   .habits {
      grid-template-columns: repeat(2, minmax(auto, 350px));

   }
}

@media screen and (max-width: 500px) {
   .habits {
      grid-template-columns: repeat(1, 1fr);
   }
}

.habit-card {
   padding: 0.5rem;
   border: 1px solid green;
   display: flex;
   flex-direction: column;
   align-items: center;
   /* justify-content: space-between; */
   gap: 1rem;
}

.habit-card img {
   border: 1px solid gray;
   padding: 0.3rem;
   width: 100%;
   max-width: 250px;
   aspect-ratio: 1/1;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}

/* secton 2 */
.section-2 {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   padding: 1rem;
   background-color: rgba(169, 169, 169, 0.334);
   border-radius: 1rem;
   -webkit-border-radius: 1rem;
   -moz-border-radius: 1rem;
   -ms-border-radius: 1rem;
   -o-border-radius: 1rem;
   gap: 1.5rem;
}

@media screen and (max-width: 500px) {
   .section-2 {
      grid-template-columns: repeat(1, 1fr);
   }
}

.section-2 h1 {
   text-align: left;
}

.content-section-2 {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
   gap: 1rem;
}

.section-2 .btn-join-now {
   width: 250px;
   background-color: var(--primary-color);
   border: 1.5px solid var(--primary-color);
}

@media screen and (max-width: 500px) {
   .section-2 .btn-join-now {
      width: 100%;
   }

   .section-2 p {
      text-align: justify;
   }
}

.section-2 .img-container img {
   width: 100%;
   height: 100%;
   border-radius: 0.7rem;
   -webkit-border-radius: 0.7rem;
   -moz-border-radius: 0.7rem;
   -ms-border-radius: 0.7rem;
   -o-border-radius: 0.7rem;
}


